In [112]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [113]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [114]:
len(data)

1890

# Предобработка датасета

In [115]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

In [116]:
data.info() # проверяю какие значения содержатся в ячейках таблицы, нет ли пропущенных и т.д.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [117]:
data.nlargest(1, ['budget'])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [118]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [119]:
data.nlargest(1, ['runtime'])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [120]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [121]:
data.nsmallest(1, ['runtime'])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [122]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [123]:
data.runtime.mean()

109.65343915343915

In [124]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [125]:
data.runtime.median()

106.5

In [126]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [127]:
data['profit'] = data['revenue'] - data['budget']
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
 16  profit                1890 non-null   int64
dtypes: float64(2), int64(6), object(9)
memory usage: 251.1+ KB

In [128]:
data.nlargest(1, ['profit'])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [129]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [130]:
data.nsmallest(1, ['profit'])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [131]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [132]:
len(data[(data.profit > 0)])

1478

In [133]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [134]:
data_plus_2008 = data[(data.release_year == 2008)&
                       (data.profit.max())]
data_plus_2008.head(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [135]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [136]:
data_loss = data[(data.release_year >= 2012)&
                 (data.release_year <= 2014)]

data_loss.nsmallest(1, ['profit'])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

In [137]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [138]:
genres_split = pd.DataFrame(data.genres.str.split('|', expand=True))
genres_split.fillna(value=0, axis=1, inplace=True)
genres_split.columns = ['new_name_1','new_name_2','new_name_3','new_name_4','new_name_5']
genres_split.describe()
a = genres_split.new_name_1.value_counts()+genres_split.new_name_2.value_counts()+genres_split.new_name_3.value_counts()+genres_split.new_name_4.value_counts()+genres_split.new_name_5.value_counts()

a.nlargest(1)

Drama    782.0
dtype: float64

In [139]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [140]:
genres = pd.DataFrame(data[data['profit'] > 0]['genres'].to_list())

genres.columns = ['new_name_1']
genres2 = pd.DataFrame(genres.new_name_1.str.split('|', expand=True))
genres2.fillna(value=0, axis=1, inplace=True)
genres2.columns = ['new_name_1','new_name_2','new_name_3','new_name_4','new_name_5']
a = genres2.new_name_1.value_counts()+genres2.new_name_2.value_counts()+genres2.new_name_3.value_counts()+genres2.new_name_4.value_counts()+genres2.new_name_5.value_counts()

a.nlargest(1)

Drama    560.0
dtype: float64

In [141]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [142]:
data ['count'] = 1
c = collections.Counter ()

for i in data['director']:
    c[i]+= data['count']
a = pd.DataFrame(c)
q = a.max()
q.nlargest()

Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Steven Spielberg     10
Shawn Levy           10
dtype: int64

In [143]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [144]:
pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index() 
directors = pd.DataFrame(data[data['profit'] > 0]['director'].to_list())

directors.describe()

                   0
count           1478
unique           774
top     Ridley Scott
freq              12

In [145]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [146]:
df_dir = pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index() 
df_dir.columns =  ['row1', 'row2', 'director']
df_dir['profit_dir'] = df_dir.row1.apply(lambda x: data.iloc[x]['profit'])
df_dir.groupby(['director'])['profit_dir'].sum().sort_values(ascending=False)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
Peter Hyams           -86956545
Ron Underwood         -92896027
James L. Brooks       -96289726
Walter Hill          -128283462
Sngmoo Lee           -413912431
Name: profit_dir, Length: 998, dtype: int64

In [147]:

answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [148]:
df_act = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index() 
df_act.columns =  ['row1', 'row2', 'cast']
df_act['profit_act'] = df_act.row1.apply(lambda x: data.iloc[x]['profit'])
df_act.groupby(['cast'])['profit_act'].sum().sort_values(ascending=False)

cast
Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
                         ...
Elisabeth Harnois     -111007242
Emilio EchevarrÃ­a    -119180039
Kate Bosworth         -369455668
Ti Lung               -413912431
Jang Dong-gun         -413912431
Name: profit_act, Length: 3408, dtype: int64

In [149]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [150]:
df_act = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index() 
df_act.columns =  ['row1', 'row2', 'cast']
df_act['profit_act'] = df_act.row1.apply(lambda x: data.iloc[x]['profit'])
df_act['release_year'] = df_act.row1.apply(lambda x: data.iloc[x]['release_year'])

a = pd.DataFrame(df_act.groupby(['cast', 'release_year'])['profit_act'].sum().sort_values(ascending=True)).reset_index() 
a.columns =  ['row1', 'row2', 'row3']
a2=a[(a.row2 == 2012)]
a2.head()

               row1  row2      row3
54    Kirsten Dunst  2012 -68109207
82     James Kidnie  2012 -51893525
83    Timothy Spall  2012 -51893525
84    Heidi Hawkins  2012 -51893525
133  Malin Ã…kerman  2012 -43733509

In [151]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [152]:
df_act = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index() 
df_act.columns =  ['row1', 'row2', 'cast']
df_act['budget_act'] = df_act.row1.apply(lambda x: data.iloc[x]['budget'])
df_act['count'] = 1
import collections
c = collections.Counter ()

a = pd.DataFrame(df_act[(df_act['budget_act'] > df_act['budget_act'].mean())])
a.columns =  ['row1', 'row2', 'cast', 'budget_act', 'count']
for i in a['cast']:
    c[i]+= data['count']
a = pd.DataFrame(c)
q = a.max()
q.nlargest(1)

Matt Damon    18
dtype: int64

In [153]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [154]:
count_genres = Counter()
for x in data.loc[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)]['genres'].str.split('|'):
    count_genres+=Counter(x)
display(count_genres.most_common())

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

In [155]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [156]:
df_comp = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index() 
df_comp.columns =  ['row1', 'row2', 'production_companies']
df_comp['count'] = 1
df_comp.groupby(['production_companies'])['count'].sum().sort_values(ascending=False)

production_companies
Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Midnight Picture Show                       1
Midnight Sun Pictures                       1
Milagro Films                               1
Mile High Productions                       1
"DIA" Productions GmbH & Co. KG             1
Name: count, Length: 1772, dtype: int64

In [157]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [158]:
data_2015 = pd.DataFrame(data[(data.release_year == 2015)])
df_comp_2015 = pd.DataFrame(data_2015.production_companies.str.split('|').tolist()).stack().reset_index() 
df_comp_2015.columns =  ['row1', 'row2', 'production_companies']
df_comp_2015['count'] = 1
df_comp_2015.groupby(['production_companies'])['count'].sum().sort_values(ascending=False)

production_companies
Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Paramount Pictures                         7
Columbia Pictures                          7
                                          ..
Nickelodeon Animation Studios              1
Moonlighting Films                         1
Miramax Films                              1
Mid Atlantic Films                         1
3 Arts Entertainment                       1
Name: count, Length: 246, dtype: int64

In [159]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [160]:
comedy_profit = pd.DataFrame(data.loc[data['genres'].map(lambda x: True if 'Comedy' in x else False)]['production_companies'].str.split('|').tolist()).stack().reset_index()
comedy_profit.columns =  ['row1', 'row2', 'production_companies']
comedy_profit['profit'] = comedy_profit.row1.apply(lambda x: data.iloc[x]['profit'])
comedy_profit.groupby(['production_companies'])['profit'].sum().sort_values(ascending=False)

production_companies
Universal Pictures          9760457818
Columbia Pictures           8273198775
Paramount Pictures          6485616061
Walt Disney Pictures        6321695456
New Line Cinema             6270749300
                               ...
AR-TL                        -69590483
Hammer & Tongs               -71331093
Jon Shestack Productions     -80445998
Red Hour Films              -124500164
Room 9 Entertainment        -413912431
Name: profit, Length: 702, dtype: int64

In [161]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [162]:
studio_profit_2012 = pd.DataFrame(data.loc[data['release_year'].map(lambda x: True if x == 2012 else False)]['production_companies'].str.split('|').tolist()).stack().reset_index()
studio_profit_2012.columns =  ['row1', 'row2', 'production_companies']
studio_profit_2012['profit'] = studio_profit_2012.row1.apply(lambda x: data.iloc[x]['profit'])
studio_profit_2012.groupby(['production_companies'])['profit'].sum().sort_values(ascending=False)

production_companies
Columbia Pictures                         4444069245
The Weinstein Company                     3201077867
Relativity Media                          1376032025
Marvel Studios                            1363528810
Twentieth Century Fox Film Corporation    1227723052
                                             ...
Adam Schroeder Productions                 -29581440
Davis Entertainment                        -29581440
Onda Entertainment                         -46675670
Ixtlan                                     -46675670
Sony Pictures Animation                    -73858740
Name: profit, Length: 236, dtype: int64

In [163]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [164]:
df_Paramount = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index() 
df_Paramount.columns =  ['row1', 'row2', 'production_companies']
df_Paramount['profit'] = df_Paramount.row1.apply(lambda x: data.iloc[x]['profit'])
df_Paramount_min = pd.DataFrame(df_Paramount[(df_Paramount.production_companies == 'Paramount Pictures')]).reset_index()
df_Paramount_min.columns =  ['row1', 'row2', 'row3', 'production_companies', 'profit']
df_Paramount_min.nsmallest(1, 'profit')
data.loc[926]

imdb_id                                                         tt0267626
popularity                                                        0.72233
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                                    7/19/2002
vote_count                                                            146
vote_average                                                            6
release_year                                                         2002
profit                                                          -64831034
count                                                                   1
Name: 926, dtype: object

In [165]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [166]:
data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [167]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [168]:
df_Warner = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index() 
df_Warner.columns =  ['row1', 'row2', 'production_companies']
df_Warner['profit'] = df_Warner.row1.apply(lambda x: data.iloc[x]['profit'])
df_Warner['release_year'] = df_Warner.row1.apply(lambda x: data.iloc[x]['release_year'])
ww = pd.DataFrame(df_Warner.loc[df_Warner['production_companies'].map(lambda x: True if 'Warner Bros.' in x else False)])
ww.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

In [169]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [170]:
df_date = pd.DataFrame(data.release_date.str.split('/').tolist()).stack().reset_index() 
df_date.columns =  ['row1', 'row2', 'release_date']
df_date[(df_date.row2 == 0)].release_date.value_counts().sort_values(ascending=False)

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [171]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [172]:
df_date = pd.DataFrame(data.release_date.str.split('/').tolist()).stack().reset_index() 
df_date.columns =  ['row1', 'row2', 'release_date']
summer = pd.DataFrame(df_date[(df_date.row2 == 0)].release_date.value_counts().sort_values(ascending=False)).reset_index() 
summer.columns = ['row1', 'row2']
summer['row1'] = summer['row1'].astype('int64')
a = sum(summer[(summer.row1 == 6)].row2, summer[(summer.row1 == 7)].row2)
b = sum (a, summer[(summer.row1 == 8)].row2)
b

3    450
Name: row2, dtype: int64

In [173]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [174]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_date'] = data['release_date'].dt.strftime('%B')
data = data.query('release_date in ["December","January", "February"]')
data=data['director'].str.cat(sep='|')
data=pd.Series(data.split('|'))
data.value_counts()

Peter Jackson          7
Clint Eastwood         6
Steven Soderbergh      6
Adam Shankman          4
Shawn Levy             4
                      ..
Stuart Beattie         1
Peter Berg             1
Julie Anne Robinson    1
Demian Lichtenstein    1
Sean Anders            1
Length: 359, dtype: int64

In [175]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [176]:
data = pd.read_csv('data.csv')

data['release_date'] = pd.to_datetime(data['release_date'])
data['release_date'] = data['release_date'].dt.strftime('%B')
display(data)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,June,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,May,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,March,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,December,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,April,2947,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,July,2766,6.6,2000
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,October,42,6.4,2000
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,June,35,4.0,2000
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,February,21,5.2,2000
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,July,12,5.2,2000

In [177]:
data['profit'] = data.revenue-data.budget
month = pd.DataFrame(data.pivot_table(index = 'release_date', columns = 'release_year', values = 'profit', aggfunc = 'sum'))
month.idxmax(axis=0, skipna=True).value_counts()

June        7
December    4
May         4
July        1
dtype: int64

In [178]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [179]:
data = pd.read_csv('data.csv')
df = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index() 
df.columns =  ['row1', 'row2', 'production_companies']
df['original_title'] = df.row1.apply(lambda x: data.iloc[x]['original_title'])
df['new_column'] = df.original_title.apply(lambda x: len(str(x)))
df1 = pd.DataFrame(df.pivot_table(index = 'row1', columns = 'production_companies', values = 'new_column', aggfunc = 'sum'))
df1.mean(axis=0).sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Length: 1772, dtype: float64

In [180]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [181]:
data = pd.read_csv('data.csv')
df = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index() 
df.columns =  ['row1', 'row2', 'production_companies']
df['original_title'] = df.row1.apply(lambda x: data.iloc[x]['original_title'])
df['new_column'] = df.original_title.apply(lambda x: len(str(x).split(' ')))
df1 = pd.DataFrame(df.pivot_table(index = 'row1', columns = 'production_companies', values = 'new_column', aggfunc = 'sum'))
df1.mean(axis=0).sort_values(ascending=False)

production_companies
Four By Two Productions                  12.0
Jim Henson Company, The                  10.0
Polsky Films                              9.0
The Saul Zaentz Company                   9.0
Dos Corazones                             9.0
                                         ...
Many Rivers Productions                   1.0
Maple Shade Films                         1.0
Blue Productions                          1.0
Blue Sea Productions                      1.0
Great Wight Productions/ Osford Films     1.0
Length: 1772, dtype: float64

In [182]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [183]:
total_title_list = data.original_title.apply(lambda x: x+' ').sum().lower()
unique_words = set(total_title_list.split())
len(unique_words)

2461

In [184]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [185]:
data = pd.read_csv('data.csv')
data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014
119,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,5612,7.9,2014
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014
138,tt2278388,4.930820,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,2802,7.9,2014
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,9767,7.9,2010
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008
873,tt0253474,2.364204,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,938,7.9,2002
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,4027,7.9,2013
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,2144,7.9,2000

In [186]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [187]:
import itertools
from itertools import combinations
df_act = pd.DataFrame(data.cast.str.split('|')).stack().reset_index()   
df_act.columns =  ['row1', 'row2', 'cast']
df_act['actor_pair_counter'] = df_act['cast'].apply(lambda x: Counter(itertools.combinations(x, 2)))
df_act['actor_pair_counter'].sum().most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [188]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [189]:
data = pd.read_csv('data.csv')
data['profit'] = data.revenue-data.budget
directors = pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index() 
directors.columns =  ['row1', 'row2', 'director']
directors ['profit'] = directors.row1.apply(lambda x: data.iloc[x]['profit'])
a = pd.DataFrame(directors.director.value_counts()).reset_index() 
a.columns =  ['row1', 'row2']
directors_plus = pd.DataFrame(data[data['profit'] > 0]['director'].to_list())
directors_plus.columns =  ['row1']
directors_plus.row1.value_counts()
a = pd.DataFrame(directors_plus.row1.value_counts() / directors.director.value_counts()).reset_index()
a.columns = ['row1','row2']
a[(a.row1 == 'Quentin Tarantino')]
a[(a.row1 == 'Steven Soderbergh')]
a[(a.row1 == 'Robert Rodriguez')]
a[(a.row1 == 'Christopher Nolan')]
a[(a.row1 == 'Clint Eastwood')]

               row1      row2
180  Clint Eastwood  0.833333

In [190]:
answer_ls.append(4)

# Submission

In [191]:
len(answer_ls)

36

In [192]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4